<style>
    td {
        vertical-align: top; /* Align text to the top */
        padding-bottom: 10px;;
    }

    .polict-td-title {
        padding-left: 30px;
    }
</style>
<div style="text-align: center;""><b>Privacy Policy Statement</b></div>
<div style="margin-bottom: 10px;"><b>General Statement of Policy</b></div>
<table border=0 cellspacing=0 cellpadding=0>
    <tr>
        <td width="45px">&nbsp;</td>
        <td>1. </td>
        <td>This Statement is made by Link Asset Management Limited (“Link
            Asset Management”) as manager of Link Real Estate Investment Trust
            (“Link REIT”) and Link Properties Limited (collectively “we”, “our” or
            “us”), in accordance with the Personal Data (Privacy) Ordinance (Cap.
            486) of the Laws of Hong Kong Special Administrative Region ('the
            PDPO'). We are committed to ensuring that your personal data are
            handled in accordance with the provisions of the PDPO. We collect and
            use your personal data to provide you with better customer services
            and products.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>2. </td>
        <td>We collect adequate, but not excessive, personal data by lawful and fair
            means only for lawful purposes related to our business and activities.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>3. </td>
        <td>We take all reasonably practicable steps to ensure that personal data
        collected or retained are accurate, having regard to the purposes for
        which they are to be used.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>4. </td>
        <td>We take all reasonably practicable steps to ensure that the personal
        data are not kept longer than is necessary for the purposes for which
        they are to be used.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>5. </td>
        <td>We use the personal data collected only for the purposes or directly
        related purposes for which the data were to be used at the time of
        collection, unless the individual concerned has given express consent
        for a change of use or such use is permitted by law.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>6. </td>
        <td>We take all reasonably practicable steps to ensure that personal data
        are protected against unauthorised or accidental access, processing,
        erasure or other use.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>7. </td>
        <td>We take all reasonably practicable steps to ensure that a person can be
        informed of the kinds of personal data that we hold and the purposes
        for which the data are to be used.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>8. </td>
        <td>We permit persons to request access to and/or correction of personal
        data held by us which they are the data subjects. We process any such
        access/correction requests in a manner permitted or required by law.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>9. </td>
        <td>All our staff are required to observe our security and confidentiality
        obligations.
        </td>
    </tr>
    <tr>
        <td colspan="3"  class="polict-td-title"><b>Collection - Why We Collect Your Data</b></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>10. </td>
        <td>From time to time, we may collect your personal data to provide our
    services to you and in an effort to improve your customer experience.
    You are not obliged to provide your personal data to us but if you do
    not, we may not be able to provide you with some of the information,
    materials, services and/or products of Link Asset Management and/or
    Link Properties Limited.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>11. </td>
        <td>We will indicate in the relevant forms or applications if the required
        personal data are for obligatory or voluntary purposes. If personal data
        are to be used for an obligatory purpose, you MUST provide your
        personal data to us if you want us to provide the service for which you
        are applying. If personal data are only to be used for a voluntary
        purpose, you can tell us not to use your personal data for that purpose
        and we will refrain from doing so.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>12. </td>
        <td>If you are under the age of 13, you must ask your parent or guardian
        before providing any personal data to us.</td>
    </tr>
    <tr>
        <td colspan="3"  class="polict-td-title"><b>Data Security</b></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>13. </td>
        <td>We strive at all times to ensure that your personal data will be
        protected against unauthorised or accidental access, processing,
        erasure or other use. We maintain this commitment to data security by
        implementing appropriate physical, electronic and managerial
        measures to safeguard and secure your personal data.</td>
    </tr>
    <tr>
        <td colspan="3"  class="polict-td-title"><b>Control of Personal Data</b></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>14. </td>
        <td>Link Asset Management's Corporate Data Privacy Officer or a
            designated person is responsible for assessing, monitoring and
            reviewing personal data protection measures to ensure compliance
            with the requirements of the PDPO.</td>
    </tr>
    <tr>
        <td colspan="3"  class="polict-td-title"><b>Charges</b></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>15. </td>
        <td>In accordance with the PDPO, we may charge data subjects reasonable
    charges incurred in relation to administering and complying with their
    data access or correction requests. </td>
    </tr>
</table>
NOTE: This Privacy Policy Statement is subject to change.